<ion-content [fullscreen]="true" class="recover-content">

  <div class="recover-container">

    <div class="top-area">
      <ion-button fill="clear" class="back-button" (click)="voltar()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <h1>Recuperar palavra-passe</h1>
    </div>

    <div class="recover-card" *ngIf="!enviado">
      <ion-icon name="mail-outline"></ion-icon>

      <h2>Esqueceste-te da palavra-passe?</h2>
      <p>
        Indica o teu email e enviaremos um email para recuperação da password.
      </p>

      <ion-label>Email</ion-label>
      <ion-input
        type="email"
        placeholder="exemplo@gmail.com"
        [(ngModel)]="email">
      </ion-input>

      <ion-button expand="block" class="main-button" (click)="enviarRecuperacao()">
        Enviar email de recuperação
      </ion-button>
    </div>

    <div class="recover-card success-card" *ngIf="enviado">
      <ion-icon name="checkmark-circle-outline"></ion-icon>

      <h2>Email enviado!</h2>
      <p>
        Foi enviado um email para <strong>{{ email }}</strong> com instruções para recuperar a palavra-passe.
      </p>

      <ion-button expand="block" class="main-button" (click)="voltar()">
        Voltar ao login
      </ion-button>
    </div>

  </div>

</ion-content>