<ion-content [fullscreen]="true" class="login-content">

  <div class="login-container">

    <div class="logo-area">
      <h1>Trocoin</h1>
      <p>Compra, vende e troca moedas</p>
    </div>

    <div class="form-area">

      <ion-label>Email</ion-label>
      <ion-input
        type="email"
        placeholder="exemplo@gmail.com"
        class="custom-input">
      </ion-input>

      <ion-label>Palavra-passe</ion-label>
      <ion-input
        type="password"
        placeholder="********"
        class="custom-input">
      </ion-input>

    </div>

    <div class="actions-area">
      <ion-button expand="block" class="main-button" (click)="entrar()">
        Entrar
      </ion-button>

      <p class="separator">ou</p>

      <ion-button expand="block" class="secondary-button" (click)="criarConta()">
        Criar conta
      </ion-button>
    </div>

  </div>

</ion-content>