<ion-content [fullscreen]="true" class="login-content">

  <div class="login-container">

    <div class="brand-area">
      <h1>trocoin<span>•</span></h1>
      <p>Compra, vende e troca moedas</p>
    </div>

    <div class="form-card">

      <ion-label>Email</ion-label>
      <ion-input
        type="email"
        placeholder="exemplo@gmail.com"
        [(ngModel)]="email"
        class="custom-input">
      </ion-input>

      <ion-label>Palavra-passe</ion-label>
      <ion-input
        [type]="mostrarSenha ? 'text' : 'password'"
        placeholder="********"
        [(ngModel)]="senha"
        class="custom-input">

        <ion-button fill="clear" slot="end" class="eye-button" (click)="alternarVisibilidadeSenha()">
          <ion-icon [name]="mostrarSenha ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>

      </ion-input>

      <ion-button expand="block" class="main-button" (click)="entrar()">
        Entrar
      </ion-button>

      <div class="separator">
        <span></span>
        <p>ou</p>
        <span></span>
      </div>

      <ion-button expand="block" fill="outline" class="secondary-button" (click)="criarConta()">
        Criar conta
      </ion-button>

    </div>

  </div>

</ion-content>